@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.App-header {
  background-color: #E6E6FA;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 40px;
  text-align: center;
  font-family: 'Pacifico', cursive;
  color: #DB7093;
}


